langchain
langchain-community
langchain-openai
langchain-anthropic
langchain-nvidia-ai-endpoints
chromadb
pypdf
youtube-transcript-api
pytube
sentence-transformers
python-dotenv
streamlit
tiktoken
pytest
